/* // Color */ 
$color-black: #000;
$color-gray: #2B2A29;
$color-third:#b5b4b487;
$color-white: #fff;
$color-first: #ffed00;
$color-second: rgba(255, 255, 255, 0.9);
$color-third:#b5b4b487;
$color-fourth:#b5b4b487;
$color-fifth: #D92D20;
$color-sixth : #AE894B; 

/* // fonts */  
$font-content: "Open Sans", sans-serif;
$font-title: "Open Sans", sans-serif ; 
/* Line Height */

$lh-56: 56px;
$lh-48 :48px;
$lh-40: 40px;
$lh-32: 32px;
$lh-24: 24px;
$lh-20: 20px;
$lh-18: 18px;

/* // padding */
$ptb_50 : 50px ; 
$prod-bottom:30px;
$padding-tb: 15px;
$padding-lr :15px;
$padding-t: 20px;
$padding-b :15px;
$padding-l :15px;
$padding-r :15px;

/* // margin */

$margine-tb: 15px;
$margine-lr: 15px;
$margine-t: 15px;
$margine-b: 15px;
$margine-l: 15px;
$margine-r: 15px;

/* // font-weight */

$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;

/* text-transform */

$txt-upper: uppercase;
$txt-lower: lowercase;
$txt-none: none;

/* Font Size */

$heading-1: 56px;
$heading-2 :48px;
$heading-3: 40px;
$heading-4: 32px;
$heading-5: 24px;
$content-large: 20px;
$content-medium: 18px;
$content-normal: 17px;
$content-small:15px

